<header id="store">
  <h1>Greengrocers</h1>
<div>
  Choose Fruit/Vegetables
  <input type="checkbox" [(ngModel)]="filterTypeFruits">
  <input type="checkbox" [(ngModel)]="filterTypeVegetables" />
</div>
<button (click)="sortByPrice()">Sort by Price</button>
<button (click)="sortByName()">Sort by Name</button>
<ul class="item-list store--item-list">
    <li *ngFor="let grocerie of getFilteredGroceries()">
      <div class="store--item-icon">
        <img src="assets/icons/{{grocerie.id}}.svg" alt={{grocerie.name}}/>
      </div>
      <button (click)="addToCart(grocerie)">Add to cart</button>
    </li>
  </ul>
</header>
<main id="cart">
  <h2>Your Cart</h2>
  <app-cart></app-cart>
  <app-total></app-total>
</main>